output/*
logs/*
cache/*.cache
datasets/*
.vscode/*
.idea/*
.ipynb_checkpoints/*
library/__pycache__/*
*.pyc
library/*.pyc
static/data/*.json
nohup.out
*_orig.html
configuration/haconf.yml
cache/*.db
apptest.py
