{% extends "basetemplate.html" %}

{% block title %}AIY Google Voice kit{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="/static/css/aiy.css" />
  <style>
      
      #buttond3 {
      position: absolute;
      top: 25px;
      left: 25px;
      }
      
      /* plain button */
      .btn {
          color: #ffffff;  /* text color */
          font-family: Helvetica, sans serif;
          font-size: 25px;
          padding: 3px 3px 3px 3px; /* top, right, bottom, left */
          border: solid #1f628d 1px;
          border-radius: 6px;
          text-decoration: none; /* underline, overline, line-through or blink */
      }
      
      /* fancy button */
      .btn {
          /* linear-gradient */
          background: #3cb0fd;  /* For browsers that don't support graidents */
          background: -webkit-linear-gradient(top, #3498db, #2980b9); /* For Safari 5.1 to 6.0 */
          background: -moz-linear-gradient(top, #3498db, #2980b9); /* For Firefox 3.6 to 15 */
          background: -o-linear-gradient(top, #3498db, #2980b9); /* For Opera 11.1 to 12.0 */
          background: linear-gradient(to bottom, #3498db, #2980b9); /* Standard syntax */
          
          /* box-shadow */
          -webkit-box-shadow: 5px 5px 3px #666666;
          -moz-box-shadow: 5px 5px 3px #666666;
          box-shadow: 5px 5px 3px #666666; /* offset-x, offset-y, blur-radius, color */
      }
      
      .btn:hover {
          background: -webkit-linear-gradient(top, #3cb0fd, #3498db);
          background: -moz-linear-gradient(top, #3cb0fd, #3498db);
          background: -o-linear-gradient(top, #3cb0fd, #3498db);
          background: linear-gradient(to bottom, #3cb0fd, #3498db);
      }
      
      /* eliminate shadow when clicked */
      .btn:active {
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
      }
      
      /* prevent text selection */
      a {
          user-select: none;
          -moz-user-select: none;
          -webkit-user-select: none;
          -ms-user-select: none;
      }
    </style>
{% endblock %}

{% block content %}
<font color="white">
    <h2>AIY voicekit</h2>
</font>

<div class="panel panel-default">
    <div class="panel-heading"> AIY voicekit - {{service}} ({{status}})</div>
    <div class="panel-body" >
        <div class="container">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Google assistant</label>
                <!--div class="btn-group btn-group-justified col-sm-4"-->
                {% if (status == "Available") %}
                    <a class="btn col-sm-2" href="/aiy/gassistant/start">START</a>
                    <a class="btn col-sm-2" href="/aiy/gassistant/stop">STOP</a>
                {%else%}
                    <a class="btn disabled col-sm-2" href="/aiy/gassistant/start">START</a>
                    <a class="btn disabled col-sm-2" href="/aiy/gassistant/stop">STOP</a>
                {%endif%}
                <!--/div-->
            </div>
            {% if msg %}
            <div class="alert alert-danger">
                <strong>Service failure!</strong> {{msg}}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}