<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
        <title>
            {% block title %}
            {% endblock %}
        </title>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />
        {% block head %}
        {% endblock %}
    </head>
  
<body bgcolor="black">
    <div class="wrapper">
        <nav id="sidebar">
            <ul class="list-unstyled components">
                <h4 align="center"><a href="/">Home page</a></h4>
                <li><a href="/d3display">Discover / Rediscover - Home network</a></li>
                <li><a href="/osdetection">Discover device OS</a></li>
                <li><a href="/philips">Philips hue</a></li>
                <li><a href="/bosesoundtouch">Bose soundtouch</a></li>
                <li><a href="/datanalysis">Kaggle data analysis</a></li>
                <li><a href="/voicekit">AIY voice kit</a></li>
                <li><a href="/voicemsg">Voice message as bell - Under test</a></li>
                <li><a href="#">Apple TV - Under test</a></li>
            </ul>
        </nav>

        <div id="content">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                            <i class="glyphicon glyphicon-align-left"></i>
                            <span>Toggle Sidebar</span>
                        </button>
                    </div>
    
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#TBD">Contact</a></li>
                            <li><a href="#TBD">Help</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

            {% block content %}
            {% endblock %}

            <div class="line"></div>
            <div id="footer"><a>Sujayyendhiren Ramarao Srinivasamurthi</a></div>
        </div>
    </div>
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
  </body>
</html>