{% extends "basetemplate.html" %}

{% block title %}Home network - Details{% endblock %}

{% block head %}
    {{ super() }}
    <link href="/static/css/discover.css" rel="stylesheet">
    <style>
        .container-full {
            background-color: white;
            margin: 0 auto;
            width: 100%;
        }
    </style>
{% endblock %}

{% block content %}
<h2 align="center">Home network - OS detection</h2>

<div class="container-full">
    <table class="table table-bordered table-striped" data-toggle="table" data-search="true" data-filter-control="true" data-show-export="true" data-click-to-select="true">
        <thead>
            <tr>
                <th>Hostname</th>
                <th>IP address</th>
                <th>OS name</th>
                <th>Detection Accuracy (%)</th>
                <th>Type</th>
                <th>Vendor</th>
                <th>OS family</th>
                <th>OS Gen</th>
                <th>Last seen</th>
                <th>Status</th>
            </tr>
        </thead>

        <tbody>
        {% for elem in osdata %}
            <tr>
                <td>{{elem.hostname}}</td>
                <td>{{elem.ip}}</td>
                <td>{{elem.osname}}</td>
                <td>{{elem.osaccuracy}}</td>
                <td>{{elem.ostype}}</td>
                <td>{{elem.osvendor}}</td>
                <td>{{elem.osfamily}}</td>
                <td>{{elem.osgen}}</td>
                <td>{{elem.datetime}}</td>
                <td>{{elem.status}}</td>
            </tr>
        {%endfor%}
        </tbody>
    </table>
</div>
{% endblock %}