{% extends "basetemplate.html" %}
{% block title %}Welcome{% endblock %}

{% block head %}
  {{ super() }}
  <link href="/static/css/welcome.css" rel="stylesheet">
{% endblock %}

{% block content %}
<h2 align="center" style="color:black;">Home automation + Data analysis Application</h2>

<p></p>
<p>Home automation</p>
<p>A single pane of glass that integrates home gadgets that work over WiFi. In initial attempt,</p>
<p>Web UI is interfaced with Phillips Hue and BoseSoundtouch speaker.</p>
<br><br>
<p>Kaggle dataset analysis</p>
<p>Can be performed by using this application</p>
{% endblock %}